@model Dekhlo.Web.Models.Logo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "CLogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Logo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TagContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TagContent)
            @Html.ValidationMessageFor(model => model.TagContent)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ImageContent)
        </div>
         <div class="editor-field">
            <input id="fldImageContent" name="fldImageContent" type="file" />
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
