@model Dekhlo.Web.Models.PostCateogryMapping

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostCateogryMapping</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostId, "Post")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PostId", String.Empty)
            @Html.ValidationMessageFor(model => model.PostId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CateogryId, "Cateogry")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CateogryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CateogryId)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedOn)
            @Html.ValidationMessageFor(model => model.UpdatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateBy)
            @Html.ValidationMessageFor(model => model.UpdateBy)
        </div>*@

        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
