@model Dekhlo.Web.Models.LocalPasswordModel



<div class="col-md-12" style="background-color: #fff;">
    <div class="col-md-12">
        <p style="text-align:left;">You're logged in as <strong style="color:green;">@User.Identity.Name</strong>.</p>
        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                
                
                @if (Model != null && !String.IsNullOrEmpty(Model.OldPassword))
                {
                    <legend>Set password</legend>
                    @Html.HiddenFor(m => m.OldPassword)
                }
                else
                {
                    <legend>Change password</legend>
                 <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password", @class = "form-control input-md" })
                    </div>
                </div>
    <br /><br />
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password", @class = "form-control input-md" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control input-md" })
                    </div>
                </div>

               <br /><br />

                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-7">
                        <input type="submit" name="singlebutton" class="btn btn-primary" value="Change password" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
