@model Dekhlo.Web.Models.LocalPasswordModel


@*<div class="col-md-12" style="background-color: #fff;">
    <div class="col-md-12">*@
        <p>
            You do not have a local password for this site. Add a local
    password so you can log in without an external login.
        </p>

        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Set Password Form</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password", @class = "form-control input-md" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control input-md" })
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-7">
                        <input type="submit" name="singlebutton" class="btn btn-primary" value="Set Password" />
                    </div>
                </div>
            </fieldset>
        }
   @* </div>
</div>*@
