@model Dekhlo.Web.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "CPost", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CreatedBy)

        <div class="editor-label">
            @Html.LabelFor(model => model.PostTitle)<span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTitle)
            @Html.ValidationMessageFor(model => model.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostContent)<span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PostContent, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PostContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status, "StatusCondition")<span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", String.Empty)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedOn)
            @Html.ValidationMessageFor(model => model.UpdatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateBy)
            @Html.ValidationMessageFor(model => model.UpdateBy)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.PostType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PostType", string.Empty)
            @Html.ValidationMessageFor(model => model.PostType)
        </div>

        <div class="editor-label">
            @Html.Label("Upload Photos")
        </div>
        <div class="editor-field col-md-12">
            <div class="col-md-4">
                <input id="fldUploadPhotos1" name="filebutton1" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage1');" />
                <input id="fldUploadPhotos2" name="filebutton2" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage2');" />
                <input id="fldUploadPhotos3" name="filebutton3" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage3');" />
                <input id="fldUploadPhotos4" name="filebutton4" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage4');" />
                <input id="fldUploadPhotos5" name="filebutton5" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage5');" />
                <input id="fldUploadPhotos6" name="filebutton6" class="input-file" type="file" style="display: none;" onchange="javascript: InputFileChange(this, 'divAddPostImage6');" />
                <div class="row">
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage1" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos1" name="hdnUploadPhotos1" value="@(Model.PostImages != null && Model.PostImages.Count > 0 ? Model.PostImages.ToArray()[0].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 0 ? Model.PostImages.ToArray()[0].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos1" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos1').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage1', 'fldUploadPhotos1', 'filebutton1');"></span>
                    </div>
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage2" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos2" name="hdnUploadPhotos2" value="@(Model.PostImages != null && Model.PostImages.Count > 1 ? Model.PostImages.ToArray()[1].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 1 ? Model.PostImages.ToArray()[1].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos2" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos2').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage2', 'fldUploadPhotos2', 'filebutton2');"></span>
                    </div>
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage3" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos3" name="hdnUploadPhotos3" value="@(Model.PostImages != null && Model.PostImages.Count > 2 ? Model.PostImages.ToArray()[2].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 2 ? Model.PostImages.ToArray()[2].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos3" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos3').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage3', 'fldUploadPhotos3', 'filebutton3');"></span>
                    </div>
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage4" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos4" name="hdnUploadPhotos4" value="@(Model.PostImages != null && Model.PostImages.Count > 3 ? Model.PostImages.ToArray()[3].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 3 ? Model.PostImages.ToArray()[3].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos4" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos4').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage4', 'fldUploadPhotos4', 'filebutton4');"></span>
                    </div>
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage5" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos5" name="hdnUploadPhotos5" value="@(Model.PostImages != null && Model.PostImages.Count > 4 ? Model.PostImages.ToArray()[4].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 4 ? Model.PostImages.ToArray()[4].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos5" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos5').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage5', 'fldUploadPhotos5', 'filebutton5');"></span>
                    </div>
                    <div class="col-md-3 divAddPostImage" id="divAddPostImage6" onmouseover="javascript: ShowPlusAndCross(this);" onmouseout="javascript: HideCross(this);">
                        <input type="hidden" id="hdnUploadPhotos6" name="hdnUploadPhotos6" value="@(Model.PostImages != null && Model.PostImages.Count > 5 ? Model.PostImages.ToArray()[5].Id.ToString() : "0")" />
                        <img src="@(Model.PostImages != null && Model.PostImages.Count > 5 ? Model.PostImages.ToArray()[5].ImageUrl : "")" class="img img-responsive" id="imgUploadPhotos6" />
                        <span class="glyphicon glyphicon-plus spanPlus" onclick="javascript: document.getElementById('fldUploadPhotos6').click();"></span>
                        <span class="glyphicon glyphicon-remove spanRemove" onclick="javascript: RemoveBrowsedAttachment('divAddPostImage6', 'fldUploadPhotos6', 'filebutton6');"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserRegistration")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.UserId)
            @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.UserId, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}
