@{
    Layout = "~/Views/Shared/LayoutResponsive.cshtml";
}


<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template16.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template17.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template18.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template12.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template19.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template20.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template21.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template2.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template1.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template2.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template3.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template5.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template6.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template7.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template14.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 divBlockMain">
    <div class="col-md-12 col-xs-12 col-sm-12 divBlockInner">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockImage">
                <a href="#">
                    <img src="@Url.Content("~/Images/template11.jpg")" class="img-responsive" alt="Responsive image">
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontCourgetteCursive">
                <h2>Woman’s Laptop</h2>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 fontKarlaSerif">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 divBlockFooter fontKarlaSerif">
                <a href="#">Read More...</a>
            </div>
        </div>
    </div>
</div>
